<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cs</display-name>
 <servlet>
 	<servlet-name>Login</servlet-name>
 	<servlet-class>com.hp.servlet.Login</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Login</servlet-name>
 	<url-pattern>/Login</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>ZhuCe</servlet-name>
 	<servlet-class>com.hp.servlet.ZhuCe</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>ZhuCe</servlet-name>
 	<url-pattern>/ZhuCe</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>SelectAll</servlet-name>
 	<servlet-class>com.hp.servlet.SelectAll</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>SelectAll</servlet-name>
 	<url-pattern>/SelectAll</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>OneServlet</servlet-name>
 	<servlet-class>com.hp.servlet.OneServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>OneServlet</servlet-name>
 	<url-pattern>/OneServlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>Update</servlet-name>
 	<servlet-class>com.hp.servlet.Update</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Update</servlet-name>
 	<url-pattern>/Update</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>DelGoodsById</servlet-name>
 	<servlet-class>com.hp.servlet.DelGoodsById</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>DelGoodsById</servlet-name>
 	<url-pattern>/DelGoodsById</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>AddGoods</servlet-name>
 	<servlet-class>com.hp.servlet.AddGoods</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AddGoods</servlet-name>
 	<url-pattern>/AddGoods</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>SelectName</servlet-name>
 	<servlet-class>com.hp.servlet.SelectName</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>SelectName</servlet-name>
 	<url-pattern>/SelectName</url-pattern>
 </servlet-mapping>
 
</web-app>